<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>RestauConnect - Menu <%= @menu.name %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <%= stylesheet_link_tag 'all_menus', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  
  <!-- Barre de navigation avec logo et icônes -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo3.png', class: 'd-block w-100', alt: 'Restaurant 1' %>
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav social-icons">
          <li class="nav-item">
            <a class="nav-link" href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tiktok.com" target="_blank">
              <i class="fab fa-tiktok"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:example@gmail.com">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <h1><%= @menu.name %></h1>
    <p><strong>Prix:</strong> <%= number_to_currency(@menu.price) %></p>
    
    <% if @menu.image.attached? %>
      <%= image_tag @menu.image, class: "img-fluid mt-2", alt: @menu.name %>
    <% end %>

    <div class="mt-4">
      <%= link_to 'Modifier', edit_restaurant_menu_path(@restaurant, @menu), class: 'btn btn-secondary' %>
      <%= link_to 'Retour aux menus', restaurant_menus_path(@restaurant), class: 'btn btn-light' %>
    </div>
  </div>

</body>
</html>
