<h1>Créer un nouvel article</h1>
<%= form_with model: @post, local: true do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit 'Publier' %>
  </div>
<% end %>
